.map {
    background: url("../img/concert-map.svg") no-repeat;
    background-size: contain;
    height: 967px;
    overflow: hidden;
}

.Hamburg, .Krakow, .Turin, .Madrid {
    border-radius: 50%;
    background-color: #ff0038;
    width: 15px;
    height: 15px;
}

.Hamburg {
    margin: 480px 0 0 400px;
}

.Krakow {
    margin: 40px 0 0 560px;
}

.Turin {
    margin: 150px 0 0 360px;
}

.Madrid {
    margin: 90px 0 0 130px;
}

.info-box {
    background-color: #333333;
    text-align: left;
    color: #fff;
    width: 250px;
    font-size: 20px;
    visibility: hidden;
}

.info-box span {
    display: inline-block;
    margin: 10px 0 0 15px;
}

.button {
    background-color: #ff0038;
    width: 150px;
    display: inline-block;
    margin: 40px auto 20px auto;
    height: 55px;
    border: none;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}

.Hamburg a:hover, .Krakow a:hover, .Turin a:hover, .Madrid a:hover+.info-box {
 visibility: visible;
}


