.sertiz-header {
    background: url("../img/bg.jpg") center no-repeat;
    background-size: cover;
    height: 900px;
    overflow: hidden;
}

.container1 {
    display: inline-block;
    margin: 531px 0 145px 215px;
}

.wrap1 span:first-child {
    text-transform: uppercase;
    display: inline-block;
    font-family: ﻿Montserrat-Bold, sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: rgba(255, 255, 255, 255);
    text-align: left;
}

.wrap1 span:last-child {
    display: inline-block;
    font-family: ﻿Montserrat-Bold, sans-serif;
    font-size: 18px;
    color: rgba(255, 255, 255, 255);
    margin-top: 24px;
    text-align: left;
}

.wrap2 {
    text-transform: uppercase;
    font-family: ﻿Montserrat-Bold, sans-serif;
    font-size: 54px;
    font-weight: bold;
    text-align: left;
    border: 1px solid #fff;
    margin-top: 28px;
    padding: 49px 43px 42px 30px;
}

.wrap2 span:first-child {
    color: #f1ad1d
}

.wrap2 span:last-child {
    color: #fff;
}

.sec1 {
    background: url("../img/bg5.jpg") repeat;
    overflow: hidden;
    margin-top: 34px;
}

.container2, .container3, .container4,
.container6, .container7, .container9,
.container10, .container11, .container12,
.container13 {
    width: 1169px;
    margin: 17px auto;
    text-align: center;
}

.wrap3, .wrap7 {
    text-align: center;
}

.wrap3 span:first-child, .wrap7 span:first-child,
.wrap9 span:first-child, .wrap10 span:first-child,
.wrap12 span:first-child, .wrap13 span:first-child,
.wrap14 span:first-child, .wrap15 span:first-child,
.wrap16 span:first-child, .wrap17 span:first-child {
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    font-family: ﻿Montserrat-Bold, sans-serif;
    font-size: 22px;
    color: rgba(51, 51, 51, 255);
}

.wrap3 span:last-child, .wrap7 span:last-child,
.wrap9 span:last-child, .wrap10 span:last-child,
.wrap12 span:last-child, .wrap13 span:last-child,
.wrap14 span:last-child, .wrap15 span:last-child,
.wrap16 span:last-child, .wrap17 span:last-child {
    display: inline-block;
    margin-top: 35px;
    font-size: 17px;
    color: rgba(77, 73, 67, 255);
    font-family: ﻿Lato-Regular, sans-serif;
}

.container2 .hr1,
.container2 .hr3,
.container3 .hr1,
.container3 .hr5,
.container4 .hr1,
.container7 .hr1,
.container9 .hr1,
.container10 .hr1,
.container11 .hr1,
.container12 .hr1,
.container13 .hr1
{
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    border: none;
    margin-top: 52px;
}

.wrap4 {
    margin-top: 52px;
}

.wrap6 {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    text-transform: uppercase;
}

.nav-menu ul li {
    display: inline-block;
    font-family: ﻿Courier, sans-serif;
    margin: 0 30px;
}

.nav-menu span {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: rgba(61, 61, 61, 255);
    vertical-align: middle;
    text-align: left;
}

.nav-menu .item-drop {
    display: inline-block;
    width: 0;
    height: 0;
    border-top: 5px solid #3d3d3d;
    margin-top: 4px;
    vertical-align: middle;
}

span.list-item {
    color: #f1ad1d;
}

.container2 .hr2 {
    width: 100%;
    height: 3px;
    background-color: #f1ad1d;
    border: none;
    margin-top: 32px;
}

.wrap7 {
    margin-top: 126px;
}

.wrap8 {
    display: flex;
    margin-top: 44px;
}

.reviews {
    display: inline-block;
    width: 50%;
    margin-right: 15px;
}

.business-consulting {
    display: inline-block;
    width: 48%;
    font-size: 16px;
    font-family: ﻿Lato-Light, sans-serif;
    color: rgba(80, 80, 80, 255);
    margin-left: 15px;
    text-align: justify;
}


.consulting, .photogrphy, .web-design, .advertising {
    display: inline-block;
    width: 270px;
    height: 148px;
    position: relative;
}

.consulting {
    background: url("../img/reviews/Layer 23.jpg");
    margin-right: 15px;
}

.photogrphy {
    background: url("../img/reviews/Layer 24.jpg");
    margin-left: 15px;
}

.web-design {
    background: url("../img/reviews/Layer 25.jpg");
    margin-right: 15px;
    margin-top: 22px;
}

.advertising {
    background: url("../img/reviews/Layer 26.jpg");
    margin-top: 22px;
    margin-left: 15px;
}

.consulting div, .photogrphy div, .web-design div, .advertising div {
    position: absolute;
    width: 117px;
    height: 42px;
    background-color: #333333;
    margin: 0 0 15px 15px;
    bottom: 0;
    cursor: pointer;
    font-size: 14px;
    font-family: ﻿Lato-Light, sans-serif;
    text-align: left;
}

.reviews span {
    display: inline-block;
    margin: 14px 0 0 14px;
}

.business-consulting h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    font-family: Montserrat-Bold, sans-serif;
    text-align: left;
}

.business-consulting p:first-of-type {
    margin-top: 26px;
}

.business-consulting p:last-of-type {
    margin-top: 40px;
}

.business-consulting span:first-child {
    color: rgba(51, 51, 51, 255);
}

.business-consulting span:last-child {
    color: #f1ad1d;
}

.business-consulting button {
    margin-top: 36px;
    padding: 20px 28px 19px 27px;
    background-color: #f1ad1d;
    border: none;
}

.container3, .container4 {
    margin-top: 211px;
}

.container6 {
    margin-top: 45px;
}

.offer-block {
    width: 271px;
    display: inline-block;
}

.offer-block:nth-child(1) {
 margin-right: 11px;
}

.offer-block:nth-child(2) {
    margin: 0 11px;
}

.offer-block:nth-child(3) {
    margin: 0 11px;
}

.offer-block:nth-child(4) {
    margin-left: 11px;
}

.web-des, .seo, .game-des, .server-script {
    background-color: #333333;
    font-family: ﻿Montserrat-Bold, sans-serif;
    font-size: 18px;
    height: 56px;
    color: rgba(255, 255, 255, 255);
}

.web-des div, .seo div, .game-des div, .server-script div {
    display: inline-block;
    margin: 22px auto 16px auto;
}

.web-des span, .seo span, .game-des span, .server-script span {
    color: #f1ad1d;
}

.icon {
    margin: 30px auto;
}

.text, .offer {
    font-family: ﻿Lato-Light, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(80, 80, 80, 255);
}

.line {
    width: 64px;
    height: 0;
    border-bottom: 3px solid #f1ad1d;
    margin: 26px auto 0 auto;
}

.offer {
    margin-top: 28px;
    padding-bottom: 34px;
    border-bottom: 3px solid #333333;
}

.offer h4 {
    font-size: 18px;
    font-family: Lato-Regular sans-serif;
    margin-bottom: 16px;
}

.container5 {
    margin-top: 53px;
}

.team {
    width: 1170px;
    margin: 0 auto;
}

.team div {
    position: relative;
    width: 193px;
    height: 178px;
    float: left;
    margin: 1px;
}

.item1 {
    background-image: url("../img/team/Layer 27.jpg");
}

.item2 {
    background-image: url("../img/team/Layer 28.jpg");
}

.item3 {
    background-image: url("../img/team/Layer 29.jpg");
}

.item4 {
    background-image: url("../img/team/Layer 30.jpg");
}

.item5 {
    background-image: url("../img/team/Layer 31.jpg");
}

.item6 {
    background-image: url("../img/team/Layer 32.jpg");
}

.item7 {
    background-image: url("../img/team/Layer 33.jpg");
}

.item8 {
    background-image: url("../img/team/Layer 34.jpg");
}

.item9 {
    background-image: url("../img/team/Layer 35.jpg");
}

.item10 {
    background-image: url("../img/team/Layer 36.jpg");
}

.item11 {
    background-image: url("../img/team/Layer 37.jpg");
}

.item12 {
    background-image: url("../img/team/Layer 38.jpg");
}

.team button {
    font-family: ﻿Lato-Regular, sans-serif;
    background-color: #333333;
    position: absolute;
    bottom: 0;
    margin: 0 0 15px 15px;
    color: #fff;
    font-size: 14px;
    padding: 14px 0 14px 16px;
    border: none;
}

.team button span:last-of-type {
    margin-right: 52px;
    color: #f1ad1d;
}

.team button:hover {
    cursor: pointer;
}

.team:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
}

.wrap12 {
    margin-top: 150px;
}

.container8 {
    margin-top: 54px;
    position: relative;
}

.clients {
    width: 370px;
    display: inline-block;
}

.clients:nth-child(1) {
    position: absolute;
    left: 0;
}

.clients:nth-child(2) {
    position: absolute;
    margin: 0 auto;
}

.clients:nth-child(2) {
    position: absolute;
    right: 0;
}

.bq {
    width: 52px;
    height: 48px;
    float: left;
}

.bq::before {
    content: url("../img/icons/Layer 5 copy 2.png");
}

.bq-line {
    width: 305px;
    height: 35px;
    border-bottom: 3px solid #f1ad1d;
    margin-left: 10px;
    float: right;
}

.bq-block:after {
    content: "";
    clear: both;
    visibility: hidden;
    display: block;
}

.client-text {
    font-family: Lato-Light, sans-serif;
    font-size: 14px;
    color: rgba(91, 91, 91, 255);
    line-height: 1.5;
    text-align: justify;
    padding: 30px 0 30px 0;
    border-bottom: 3px solid #000000;
}

.client-info {
    margin-top: 15px;
    height: 44px;
    position: relative;
}

.client-pic {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.name-job {
    display: inline-block;
    position: absolute;
    left: 70px;
    bottom: 0;
    text-align: left;
}

.name-job span{
    font-family: Lato-Light, sans-serif;
}

.name-job span:first-child {
    font-size: 14px;
    color: rgba(49, 49, 49, 255);
}

.name-job span:last-child {
    font-size: 12px;
    color: rgba(91, 91, 91, 255);
}

.container9 {
    margin-top: 264px;
}

.email-form {
    width: 770px;
    margin: 59px auto 0 auto;
    border: 1px solid #c7c7c7;
}

.email-form::after {
    content: "";
    clear: both;
    display: block;
}

.email-form input:first-child {
    width: 598px;
    height: 60px;
    float: left;
    border: 0;
}

.email-form input:first-child::placeholder {
    font-style: italic;
    padding: 30px 0 0 30px;
    font-size: 20px;
    color: rgba(116, 116, 116, 255);
}

.email-form input:last-child {
    width: 172px;
    height: 64px;
    float: left;
    border: 0;
    font-size: 24px;
    color: rgba(255, 255, 255, 255);
    background: #f1ad1d;
}

.container10 {
    margin-top: 177px;
}

.feedback-form {
    margin-top: 47px;
}

.feedback-form::after {
    content: "";
    display: block;
    clear: both;
}

.send-message {
    width: 570px;
    float: left;
}

.contact {
    width: 246px;
    margin-left: 229px;
    float: right;
}

.send {
    width: 380px;
    background: #333333;
    padding: 22px 0 16px 15px;
    color: #fff;
    font-size: 20px;
    font-family: ﻿Montserrat-Bold, ﻿OpenSans-Light, MyriadPro-Regular, ﻿AdobeInvisFont, sans-serif;
    text-align: left;
}

.send span:last-child {
    color: #f1ad1d;
}

.under-text {
    margin-top: 23px;
    color: rgba(80, 80, 80, 255);
    font-family: ﻿Montserrat-Bold, ﻿OpenSans-Light, MyriadPro-Regular, ﻿AdobeInvisFont, sans-serif;
    text-align: left;
}

.message-form {
    margin-top: 26px;
}

.message-form::after {
    clear: both;
    display: block;
    content: "";
}

/*.message-form input:nth-child(1), .message-form input[type="reset"], .message-form input[type="submit"] {
    position: absolute;
    left: 0;
}*/

.message-form input:nth-child(1) {
    float: left;
    width: 270px;
    height: 43px;
}

.message-form input:nth-child(2) {
    float: right;
    width: 271px;
    height: 43px;
}

.message-form textarea {
    margin-top: 22px;
    width: 570px;
    height: 118px;
    resize: none;
    clear: both;
}

.message-form input[type="reset"], .message-form input[type="submit"] {
    width: 118px;
    height: 43px;
    background: #f1ad1d;
    border: 0;
    margin-top: 24px;
}

.message-form input::placeholder {
    text-indent: 12px;
    font-style: italic;
}

.message-form textarea::placeholder {
    text-indent: 12px;
    padding-top: 18px;
    font-style: italic;
}

.message-form input:nth-last-child(1), .message-form input:nth-last-child(2) {
    float: left;
    font-size: 18px;
    text-transform: uppercase;
}
.message-form input:nth-last-child(1) {
    margin-left: 24px;
}

.container11 {
    margin-top: 123px;
}

.brands {
    margin-top: 87px;
    display: flex;
    justify-content: space-evenly;
}

.container12 {
    margin-top: 105px;
}

.flex-menu-cont {
    margin-top: 61px;
    display: flex;
    justify-content: center;
}

.flex-menu {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.flex-menu li {
    padding: 20px 50px;
    border: 1px solid #000;
    font-family: ﻿Lato-Light, ﻿OpenSans-Light, MyriadPro-Regular, ﻿AdobeInvisFont, sans-serif;
}

.portfolio-page {
    width: 281px;
    height: 271px;
    border: 2px solid #000;
}

.portfolio-page div {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.portfolio-page div:nth-child(2) {
    width: 64px;
    height: 0;
    margin: 0 auto;
    border-bottom: 3px solid #f1ad1d;
}

.flex-images {
    margin-top: 45px;
    display: flex;
    flex-wrap: wrap;
}

.flex-images div {
    margin: 5px;
}

.container13 {
    margin-top: 155px;
}

.wrap18 {
    display: flex;
    margin-top: 51px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.masonry-blog, .nice-photo, .video-window, .post-slider, .audio-mp3, .quote-post {
    width: 370px;
}

.flex-colimn-1, .flex-colimn-2, .flex-colimn-3 {
    display: flex;
    flex-direction: column;
}

.post-slider {
    margin-top: 53px;
}
.audio-mp3, .quote-post {
    margin-top: 35px;
}

/*.masonry-blog {
    margin-right: 15px;
}

.nice-photo {
    margin-left: 15px;
}

.video-window, .post-slider, .audio-mp3 {
    margin: 0 15px;
}*/

.blog-info {
    border-top: 1px solid #c1c1c1;
    border-bottom: 3px solid #333333;
}

.blog-header {
    display: flex;
    margin-top: 12px;
}

.edit {
    padding: 10px 12px 9px 11px;
    background-color: #333333;
    margin-right: 11px;
}

.header-text {
    align-self: center;
    font-family: ﻿Montserrat-Bold, ﻿OpenSans-Bold, ﻿MyriadPro-Regular, ﻿AdobeInvisFont, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: rgba(51, 51, 51, 255);
    text-align: left;
}

.blog-text {
    margin-top: 16px;
    text-align: left;
    font-family: ﻿Lato-Light, ﻿OpenSans-Bold, ﻿MyriadPro-Regular, ﻿AdobeInvisFont, sans-serif;
    color: rgba(80, 80, 80, 255);
    line-height: 1.5;
}

.blog-info {
    display: flex;
    justify-content: space-between;
    margin-top: 14px;
    font-family: ﻿Lato-Light, ﻿FontAwesome, ﻿MyriadPro-Regular, ﻿AdobeInvisFont, sans-serif;
    color: rgba(130, 130, 130, 255);
    font-size: 14px;
}
.blog-date, .read-more {
    margin: 16px 0 11px 0;
    text-transform: uppercase;

}

.audio-mp3 .image {
    height: 45px;
    background-color: black;
}

.quote-post blockquote {
    background-color: #dbdbdb;
    position: relative;
    padding: 23px 26px 46px 18px;
}

.quote-pos .footer {
    position: absolute;
    display: inline-block;
    margin-top: 15px;
}




