* {
    box-sizing: border-box;
}

.header{
    margin: 0 auto;
    height: 380px;
    background-image: url('../img/bckgr.png');
    background-size: contain;
    background-repeat: no-repeat;

}

.main-text{
    margin: 0 auto;
    padding-top: 100px
}

.main-first{
    font-family: ﻿Montserrat-Bold, sans-serif;
    font-size: 22pt;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    text-transform: uppercase;
}
.string_1{
    color: #f1ad1d;
}
.hr{
    width: 100px;
    border-color: #f1ad1d;
    align: center;
    margin: 0 auto;
}

button{
    display: block;
    text-transform: uppercase;
    font-family: ﻿Lato-Bold, sans-serif;
    border: 1px solid white;
    padding: 30px;
    width: 250px;
    margin: 0 auto;
    font-size: 14pt;
    color: rgba(255, 255, 255, 255);
    background-color: transparent;

}

.button-container {
    padding-top: 30px;
}