.container_1 {
    height: 380px;
    background-image: url("../img/Layer.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
}

.container_2 {
    text-align: center;
}

.string {
    text-transform: uppercase;
    display: inline-block;
    margin: 151px 0 214px 0;
    font-family: ﻿Montserrat-Bold, sans-serif;
    font-size: 22pt;
    color: rgba(255, 255, 255, 255);
}

.string span {
    color: #f1ad1d;
}

hr {
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    margin-top: -150px;
}

.line {
    width: 60px;
    margin: 0 auto;
    border-bottom: #f1ad1d;
}


