table {
    margin: 0 auto;
    border: 5px solid #000;
    border-collapse: collapse;
    width: 50%;
}

tr, td {
    border: 5px solid #000;
    height: 15px;
    padding: 20px;
    text-align: center;
    vertical-align: middle;
}
