.map {
    background: url("../img/concert-map.svg") no-repeat;
    background-size: contain;
    height: 967px;
    overflow: hidden;
}

.Hamburg, .Krakow, .Turin, .Madrid {
    border-radius: 50%;
    background-color: #ff0038;
    width: 15px;
    height: 15px;
}

.Hamburg {
    margin: 480px 0 0 400px;
    position: relative;
    display: inline-block;
    z-index: 1000;
}

.Hamburg::before {
    content: "";
    display: block;
    cursor: pointer;
    width: 15px;
    height: 15px;
    border: 1px solid #ff0038;
    border-radius: 50%;
    position: absolute;
    top: -1px;
    left: -1px;
    animation: radio 1s ease-in infinite;
}

.Hamburg::after {
    content: "";
    display: block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    border: 1px solid #ff0038;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -2px;
    animation: radio 1s ease-in infinite;
}

@keyframes radio {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(2);
        opacity: 0;
    }
}

.Krakow {
    margin: 40px 0 0 560px;
}

.Turin {
    margin: 150px 0 0 360px;
}

.Madrid {
    margin: 90px 0 0 130px;
}

.info-box {
    background-color: #333333;
    text-align: left;
    color: #fff;
    width: 250px;
    font-size: 20px;
    visibility: hidden;
}

.info-box span {
    display: inline-block;
    margin: 10px 0 0 15px;
}

.button {
    background-color: #ff0038;
    width: 150px;
    display: inline-block;
    margin: 40px auto 20px auto;
    height: 55px;
    border: none;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}



